<html>
    <title>{{ title }} - Most Awesome Game Ever</title>
    <style>
        tr {font-size: 150%;
            text-align:center;}
        table, tr, td { border: 5px solid black;
                        border-collapse: collapse;
                        }
        td{
            padding:15px;
        }
    </style>
  </head>
  <body>
    <h3> Share this link with your partner:</h3>
    
    /index/{{gameURL}}/{{otherPlayer}}
    <br>
    <br/>
    
    <script>  
    function getUpdatedHTML(){
        var xmlhttp = new XMLHttpRequest();
        var url = String({{ getHTMLpath|tojson|safe}});
        console.log(url);
        xmlhttp.onreadystatechange = function(){ 
            if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                var tableAndFormHTML = xmlhttp.responseText;
                replaceCatHTML(tableAndFormHTML);
            }
        }

    xmlhttp.open("GET", url, true);
    xmlhttp.send();
    }

    setInterval(getUpdatedHTML, 1000)

    function replaceCatHTML(tableAndFormHTML){
        cat = document.getElementById('cat');
        cat.innerHTML = tableAndFormHTML;
    }
     
    </script>
    <p id='cat'>
    <strong>{{ whoseTurnString }}</strong><br><br>
  <table>
  {% for y in range(6) %}
  <tr>
      {% for x in range(6) %}
      {% if grid[y][x][1] == "" %}
          <td>{{ grid[y][x][0] }} </td>
      {% else %}
          {% if grid[y][x][1] == "X" %}
          <font color ="red"> <td>{{ grid[y][x][1] }} </td></font>
          {% else %}
              <td>{{ grid[y][x][1] }} </td>
          {% endif %}
      {% endif %}
      {% endfor %}
  </tr>

  {% endfor %}
  </table>

  <br><br><strong> {{ coinPositionHTMLstring }}</strong>
</p>


  <form action="" method="post">
      {{ form.hidden_tag() }}

  <br>

    {% for subfield in form.coin1 %}
        <tr>
            {{ subfield }} {{ subfield.label }}
        </tr>
    {% endfor %}

  <br>
  <br>

    {% for subfield in form.coin2 %}
        <tr>
            {{ subfield }} {{ subfield.label }}
        </tr>
    {% endfor %}
    <br>
    <br>
      <input type = "submit" value = "Make move!">
  </form>

  </body>
</html>
