<html>
<head>
</head>
<body>
<h1>WELCOME TO CONNECT FACTOUR!</h2>
<em>Rules: Find a friend to play this hybrid connect four and multiplication game.<br>
    <br>
    Turns alternate, and the first to get four in a row (horizontal, vertical, diagonal) wins!<br>
    <br>
    You can claim a space by choosing two factors whose product appears in that space, <br>
    but you're only allowed to change one factor on each turn.
    </em><br>
<h4> Click below to play!</h4>
<form action ="" method="post">
    {{form.hidden_tag()}}
    <button type = "submit">Click Me!</button>
</form>
</body>
</html>
