<html>
    <title>{{ title }} - Most Awesome Game Ever</title>
  </head>
  <body>
  <table>
  {% for y in range(6) %}
  <tr>
      {% for x in range(6) %}
      <td>{{ game.grid[y][x].number }} </td>
      {% endfor %}
  </tr>

  {% endfor %}
  </table>

  <form action="", method="post", name="coinMove">
      <!--      {{ form.hidden_tag() }}     -->
      <p>
        {{ form.coin1 }}
      </p>
      <p>
        {{ form.coin2 }}
      </p>
      <p><input type="submit" value="Make Move"></p>
  </form>

  </body>
</html>
